<app-header></app-header>

<section class="content profile-page">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Patient Profile
          <small class="text-muted">Welcome to Pink Tie</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <button class="btn btn-primary btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
          <i class="zmdi zmdi-plus"></i>
        </button>
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Pink Tie</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);">Patients</a></li>
          <li class="breadcrumb-item active">Patient Profile</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card member-card">
          <div class="header l-blue">
            <h4 class="m-t-10">{{patient.name}} {{patient.lastname}}</h4>
          </div>
          <div class="member-img">

            <img src="{{patient.image}}" class="rounded-circle" alt="profile-image"
              style="width: 100px;height: 100px;corner-raduis:50%;">

          </div>
          <div class="body">

            <hr>
            <strong>Email</strong>
            <p>{{patient.email}}</p>
            <hr>
            <strong>Phone</strong>
            <p>{{patient.phone}}</p>
            <hr>
            <strong>Address</strong>
            <address>{{patient.address}}</address>
            <hr>
            <p><button type="submit" class="btn btn-primary btn-round" (click)="modif()" id="update">Update Profil</button> </p>
            <hr>
            <p><button type="submit" class="btn btn-primary btn-round" (click)="addPres()" id="prescription">Add Prescription</button>
              <hr>
              <p><button type="submit" class="btn btn-primary btn-round" (click)="goToRDV()" id="rdv">Book Appointement</button>
                <p><button type="submit" class="btn btn-primary btn-round" (click)="stat()" id="rdv">stat</button>


              </p>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h2><strong>Images</strong></h2>
          </div>
         <!-- <div class="body">
            <a class="example-image-link" href="{{patient.img1}}" data-lightbox="example-set" data-title="Left CC"><img  style="width: 100px;height: 100px" class="example-image" src="{{patient.img1}}" alt=""/></a>
            <a class="example-image-link" href="{{patient.img2}}" data-lightbox="example-set" data-title="Left MLO"><img  style="width: 100px;height: 100px" class="example-image" src="{{patient.img2}}" alt=""/></a>
            <a class="example-image-link" href="{{patient.img3}}" data-lightbox="example-set" data-title="Right CC"><img  style="width: 100px;height: 100px" class="example-image" src="{{patient.img3}}" alt=""/></a>
            <a class="example-image-link" href="{{patient.img4}}" data-lightbox="example-set" data-title="Right MLO"><img  style="width: 100px;height: 100px" class="example-image" src="{{patient.img4}}" alt=""/></a>


          </div>
          -->

        </div>



      </div>


      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="card" id="boutons">
          <div class="body">
            <strong>Description</strong>
            <p>{{patient.description}}</p>






            <button type="submit" class="btn btn-primary btn-round" (click)="save()">Save</button>
            <button type="submit" class="btn btn-primary btn-round" (click)="CheckResults()">Preliminary result</button>
            <button type="submit" class="btn btn-primary btn-round" (click)="Classificate()">Classification</button>
            <button type="submit" class="btn btn-primary btn-round" (click)="Note()">Add Note</button>
            <button type="submit" class="btn btn-primary btn-round" (click)="Heatmap()">Heatmap</button>
            <button type="submit" class="btn btn-primary btn-round" (click)="capture()">Report</button>


            <br>
            <br>
            <div id="progress">
              <div>Analyzing:</div>
              <div class="progress m-b-20">
                <div id='val1' class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                  value="40" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%':progress}"> </div>
              </div>

</div>
            <hr>

            <div class="form-group" hidden id="noteDiv">
              <form class="form" name="formnote" (ngSubmit)="f.form.valid && AddNote()" #f="ngForm" novalidate>

                <textarea rows="4" class="form-control no-resize" placeholder="Description" name="note"
                  [(ngModel)]="formnote.note" #name="ngModel" required></textarea>
                <button type="submit" class="btn btn-primary btn-round">Save Note</button>
              </form>

            </div>

          </div>
        </div>


        <div class="card" id="result1">
          <div class="header">
            <h2><strong>Preliminary Result</strong></h2>
          </div>
          <div class="body">
            <ul class="list-unstyled">
              <li>
                <div>Incomplete: {{valincomplete}}%</div>
                <div class="progress m-b-20">
                  <div id='val1' class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                    value="40" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%':valincomplete}"> <span
                      class="sr-only">40% Complete (success)</span> </div>
                </div>
              </li>
              <li>
                <div>Normal: {{valnormal}}%</div>
                <div class="progress m-b-20">
                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%':valnormal}"> <span class="sr-only">20%
                      Complete</span> </div>
                </div>
              </li>
              <li>
                <div>Benign: {{valbenign}}%</div>
                <div class="progress m-b-20">
                  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%':valbenign}"> <span
                      class="sr-only">60% Complete (warning)</span> </div>
                </div>
              </li>
            </ul>
          </div>
        </div>



        <div class="card">
          <div class="header">
            <h2><strong>Classification</strong></h2>
          </div>
          <div class="body">
            <ul class="list-unstyled">
              <h2 style="font-size: 14px"><strong style="color:#00cfd1 ">Left breast</strong></h2>
              <li>
                <div>Malignant: {{left_malignant}}%</div>
                <div class="progress m-b-20">
                  <div id='val1' class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                    value="40" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%':left_malignant}"> <span
                      class="sr-only">40% Complete (success)</span> </div>
                </div>
              </li>
              <li>
                <div>Bengin: {{left_benign}}%</div>
                <div class="progress m-b-20">
                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%':left_benign}"> <span class="sr-only">20%
                      Complete</span> </div>
                </div>
              </li>
              <h2 style="font-size: 14px"><strong style="color:#00cfd1 ">Right breast</strong></h2>
              <li>
                <div>Malignant: {{right_malignant}}%</div>
                <div class="progress m-b-20">
                  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%':right_malignant}">
                    <span class="sr-only">60% Complete (warning)</span> </div>
                </div>
              </li>
              <li>
                <div>Benign: {{right_benign}}%</div>
                <div class="progress m-b-20">
                  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%':right_benign}"> <span
                      class="sr-only">60% Complete (warning)</span> </div>
                </div>
              </li>
            </ul>
          </div>
        </div>


            <div class="card" id="details">
                <div class="header">
                    <h2><strong>Note</strong></h2>
                  </div>
                <div class="body">


                    {{patient.note}}



                </div>
              </div>




      </div>

    </div>

  </div>




  <div class="col-lg-4 col-md-12">

    <div class="card" id="details">
        <div class="header">
            <h2><strong>Prescriptions</strong></h2>
          </div>
      <div class="body">

        <div class="mt-40"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-hover m-b-0">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th class="hidden-sm-down">Description</th>
                    <th>Duration </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ordonnance of ordonnances">
                    <td>{{ordonnance.item}}</td>
                    <td>{{ordonnance.description}}</td>
                    <td>{{ordonnance.duree}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <hr>


      </div>
    </div>


  </div>





  <div id="image">
  <form class='form' name='form' (ngSubmit)='f.form.valid && onSubmit()' #f='ngForm' novalidate>

      <input name='file' type='file' class='btn btn-primary btn-round' style='background-color: Turquoise'
        [(ngModel)]='form.img1' name='img1Url' accept='image/*' (change)='handleInputChange($event)' />
      <button id='sub1' type='submit' class='btn btn-primary btn-round'>Submit</button>
    </form><br>
    <form class='form' name='form' (ngSubmit)='f.form.valid && onSubmit2()' #f='ngForm' novalidate>

      <input name='file2' class='btn btn-primary btn-round' style='background-color: Turquoise' type='file'
        [(ngModel)]='form.img2' name='img2Url' accept='image/*' (change)='handleInputChange2($event)' />
      <button id='sub2'  style="pointer-events:none; background-color: grey" type='submit' class='btn btn-primary btn-round'>Submit</button></form>
    <br>
    <form class='form' name='form' (ngSubmit)='f.form.valid && onSubmit3()' #f='ngForm' novalidate>
      <input name='file3' class='btn btn-primary btn-round' style='background-color: Turquoise' type='file'
        [(ngModel)]='form.img3' name='img3Url' accept='image/*' (change)='handleInputChange3($event)' />
      <button type='submit' style="pointer-events:none; background-color: grey" id='sub3' class='btn btn-primary btn-round'>Submit</button></form>
    <br>
    <form class='form' name='form' (ngSubmit)='f.form.valid && onSubmit4()' #f='ngForm' novalidate><input
        name='file4' class='btn btn-primary btn-round' style='background-color: Turquoise' type='file'
        [(ngModel)]='form.img4' name='img4Url' accept='image/*' (change)='handleInputChange4($event)' /><button
        type='submit' id='sub4' style="pointer-events:none; background-color: grey" class='btn btn-primary btn-round'>Submit</button></form>
      </div>
      <div>
          <style type="text/css">

span.cls_002{font-family:Times,serif;font-size:22.0px;color:rgb(79,129,188);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:22.0px;color:rgb(79,129,188);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Times,serif;font-size:12.1px;color:rgb(88,88,88);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Times,serif;font-size:12.1px;color:rgb(88,88,88);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Times,serif;font-size:12.1px;color:rgb(87,87,87);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Times,serif;font-size:12.1px;color:rgb(87,87,87);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Times,serif;font-size:14.1px;color:rgb(0,111,192);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Times,serif;font-size:14.1px;color:rgb(0,111,192);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:10.5px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:10.5px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Times,serif;font-size:12.1px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Times,serif;font-size:12.1px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Times,serif;font-size:10.5px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Times,serif;font-size:10.5px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:"Verdana Bold",serif;font-size:7.5px;color:rgb(60,60,60);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_010{font-family:"Verdana Bold",serif;font-size:7.5px;color:rgb(60,60,60);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:"Verdana",serif;font-size:7.5px;color:rgb(60,60,60);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:"Verdana",serif;font-size:7.5px;color:rgb(60,60,60);font-weight:normal;font-style:normal;text-decoration: none}
</style>
<div id="rapport" style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="../assets/images/background1.jpg" width=612 height=792></div>
<div style="position:absolute;left:206.04px;top:70.62px" class="cls_002"><span class="cls_002">PinkTie Report</span></div>
<div style="position:absolute;left:38.04px;top:147.65px" class="cls_003"><span class="cls_003">Patient :</span><span class="cls_004"> {{patient.name}} {{patient.lastname}} </span></div>

<div style="position:absolute;left:38.04px;top:189.05px" class="cls_005"><span class="cls_005">Test date :</span><span id="datelyoum" class="cls_004"> 4</span></div>
<div style="position:absolute;left:38.04px;top:230.20px" class="cls_006"><span class="cls_006">Patient Results :</span></div>
<div style="position:absolute;left:38.04px;top:256.24px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:254.57px" class="cls_008"><span class="cls_008">0- incomplete : {{valincomplete}}</span></div>
<div style="position:absolute;left:38.04px;top:276.88px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:275.33px" class="cls_008"><span class="cls_008">1-normal : {{valnormal}}</span></div>
<div style="position:absolute;left:38.04px;top:297.64px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:295.97px" class="cls_008"><span class="cls_008">2-benign findings : {{valbenign}}</span></div>
<div style="position:absolute;left:38.04px;top:318.28px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:316.73px" class="cls_009"><span class="cls_009">Left-Benign :</span><span class="cls_008"> {{left_benign}}</span></div>
<div style="position:absolute;left:38.04px;top:339.04px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:337.37px" class="cls_009"><span class="cls_009">Left-Malignant :</span><span class="cls_008"> {{left_malignant}}</span></div>
<div style="position:absolute;left:38.04px;top:359.68px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:358.13px" class="cls_009"><span class="cls_009">Right-Benign :</span><span class="cls_008"> {{right_benign}}</span></div>
<div style="position:absolute;left:38.04px;top:380.44px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:378.77px" class="cls_009"><span class="cls_009">Right-Malignant :</span><span class="cls_008"> {{right_benign}}</span></div>
<div style="position:absolute;left:49.56px;top:426.40px" class="cls_010"><span class="cls_010">Category</span></div>
<div style="position:absolute;left:177.72px;top:426.40px" class="cls_010"><span class="cls_010">Imagery</span></div>
<div style="position:absolute;left:313.08px;top:426.40px" class="cls_010"><span class="cls_010">Cancer risk</span></div>
<div style="position:absolute;left:433.80px;top:426.40px" class="cls_010"><span class="cls_010">observation</span></div>
<div style="position:absolute;left:38.04px;top:460.48px" class="cls_011"><span class="cls_011">0</span></div>
<div style="position:absolute;left:106.32px;top:460.48px" class="cls_011"><span class="cls_011">Incomplete investigation</span></div>
<div style="position:absolute;left:388.20px;top:460.48px" class="cls_011"><span class="cls_011">Investigation to complete or</span></div>
<div style="position:absolute;left:388.20px;top:469.60px" class="cls_011"><span class="cls_011">compare with previous movies</span></div>
<div style="position:absolute;left:38.04px;top:491.56px" class="cls_011"><span class="cls_011">1</span></div>
<div style="position:absolute;left:106.32px;top:491.56px" class="cls_011"><span class="cls_011">Normal</span></div>
<div style="position:absolute;left:292.32px;top:491.56px" class="cls_011"><span class="cls_011">0 %</span></div>
<div style="position:absolute;left:388.20px;top:491.56px" class="cls_011"><span class="cls_011">Back to screening</span></div>
<div style="position:absolute;left:38.04px;top:519.64px" class="cls_011"><span class="cls_011">2</span></div>
<div style="position:absolute;left:106.32px;top:519.64px" class="cls_011"><span class="cls_011">Anomalie bénigne</span></div>
<div style="position:absolute;left:292.32px;top:519.64px" class="cls_011"><span class="cls_011">0 %</span></div>
<div style="position:absolute;left:388.20px;top:519.64px" class="cls_011"><span class="cls_011">Back to screening</span></div>
<div style="position:absolute;left:38.04px;top:547.84px" class="cls_011"><span class="cls_011">3</span></div>
<div style="position:absolute;left:106.32px;top:547.84px" class="cls_011"><span class="cls_011">Benign:</span></div>
<div style="position:absolute;left:292.32px;top:547.84px" class="cls_011"><span class="cls_011">> 0 % mais ≤ 2%</span></div>
<div style="position:absolute;left:388.20px;top:547.84px" class="cls_011"><span class="cls_011">Followed 6 months</span></div>
<div style="position:absolute;left:38.04px;top:575.92px" class="cls_011"><span class="cls_011">4</span></div>
<div style="position:absolute;left:108.60px;top:575.92px" class="cls_011"><span class="cls_011">Malignant :</span></div>
<div style="position:absolute;left:388.20px;top:575.92px" class="cls_011"><span class="cls_011">Biopsy</span></div>
<div style="position:absolute;left:108.60px;top:585.04px" class="cls_011"><span class="cls_011">&lt;25% : there is</span><span class="cls_010"> low</span><span class="cls_011"> suspicion of malignancy</span></div>
<div style="position:absolute;left:292.32px;top:585.04px" class="cls_011"><span class="cls_011">> 2 % à ≤ 10 %</span></div>
<div style="position:absolute;left:108.60px;top:594.04px" class="cls_011"><span class="cls_011">25%-50% : there is</span><span class="cls_010"> moderate</span><span class="cls_011"> suspicion of</span></div>
<div style="position:absolute;left:292.32px;top:594.04px" class="cls_011"><span class="cls_011">> 10 % à ≤ 50 %</span></div>
<div style="position:absolute;left:108.60px;top:603.16px" class="cls_011"><span class="cls_011">malignancy</span></div>
<div style="position:absolute;left:292.32px;top:603.16px" class="cls_011"><span class="cls_011">> 50 % à &lt; 95 %</span></div>
<div style="position:absolute;left:108.60px;top:612.40px" class="cls_011"><span class="cls_011">75% : there is</span><span class="cls_010"> high</span><span class="cls_011"> suspicion of malignancy</span></div>
</div>

</div>


</section>

