<app-header></app-header>
<section class="content profile-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Profile
                <small>Welcome to Oreo</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">                
                <button class="btn btn-white btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
                    <i class="zmdi zmdi-edit"></i>
                </button>
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ul>                
            </div>
        </div>
    </div>    
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card profile-header">
                    <div class="body text-center">
                        <div class="profile-image"> <img src="../assets/images/profile_av.jpg" alt=""> </div>
                        <div>
                            <h4 class="m-b-0"><strong>Dr. {{info.username}}</strong> </h4>
                            <span class="job_post">{{user.speciality}}</span>
                            <p>{{user.address}}</p>
                        </div>
                    </div>                    
                </div>                               
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#about">About</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane body active" id="about">
<p>
  {{user.description}}
</p>                            <h6>Qualifications</h6>
                            <hr>
                            <ul class="list-unstyled">
                                <li>
                                    <p><strong>Hospital Affiliations:</strong> {{user.hopital}}</p>
                                </li>
                                <li>
                                    <p><strong>Medical School:</strong> {{user.school}}</p>
                                </li>
                            </ul>
                            <h6>Specialties: </h6>
                            
                            <ul class="list-unstyled specialties">
                                <li>{{user.speciality}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                       
            </div>
        </div>        
    </div>
</section>