
<body class="theme-cyan authentication sidebar-collapse">
  <!-- Navbar -->
  <div *ngIf="isLoggedIn; else loggedOut">

    </div>
  <!-- End Navbar -->
  <ng-template #loggedOut>
  <div class="page-header" style="background-image:url(../assets/images/login.jpg)">
      <div class="page-header-image" style="background-image:url(../assets/images/login.jpg)"></div>
      <div class="container">
          <div class="col-md-12 content-center">
              <div class="card-plain">
                  <form class="form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                      <div class="header">
                          <div class="logo-container">
                              <img src="../assets/images/pinktielogo.png" alt="">
                          </div>
                          <h5>Log in</h5>
                      </div>
                      <div class="content">
                          <div class="input-group input-lg">
                              <input type="text" class="form-control" placeholder="Enter User Name" name="username" [(ngModel)]="form.username" #username="ngModel" required>

                              <span class="input-group-addon">
                                  <i class="zmdi zmdi-account-circle"></i>
                              </span>
                          </div>
                          <div *ngIf="f.submitted && username.invalid">
                              <div *ngIf="username.errors.required" style="color:red">Username is required</div>
                            </div>
                          <div class="input-group input-lg">
                              <input type="password" placeholder="Password" class="form-control"
                              name="password" [(ngModel)]="form.password" #password="ngModel"
                              required minlength="6" />

                              <span class="input-group-addon">
                                  <i class="zmdi zmdi-lock"></i>
                              </span>
                          </div>
                          <div *ngIf="f.submitted && password.invalid">
                              <div *ngIf="password.errors.required" style="color:red">Password is required</div>
                              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                      </div>
                      <div class="footer text-center">
                          <button  class="btn btn-primary btn-round btn-lg btn-block ">SIGN IN</button>
                          <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                              Login failed: {{errorMessage}}
                            </div>
                          <a href="/signup" class="btn btn-primary btn-round btn-lg btn-block ">SIGN UP</a>
                          <h5><a href="forgot-password.html" class="link">Forgot Password?</a></h5>
                      </div>
                  </form>

              </div>
          </div>
      </div>
      <footer class="footer">
          <div class="container">

              <div class="copyright">
                  &copy;
                  <script>
                      document.write(new Date().getFullYear())
                  </script>,
                  <span>Designed by <a href="http://thememakker.com/" target="_blank">Pink Tie</a></span>
              </div>
          </div>
      </footer>
  </div>

</ng-template>



  <script>
     $(".navbar-toggler").on('click',function() {
      $("html").toggleClass("nav-open");
  });
  //=============================================================================
  $('.form-control').on("focus", function() {
      $(this).parent('.input-group').addClass("input-group-focus");
  }).on("blur", function() {
      $(this).parent(".input-group").removeClass("input-group-focus");
  });
  </script>
