<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Times,serif;font-size:22.0px;color:rgb(79,129,188);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:22.0px;color:rgb(79,129,188);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Times,serif;font-size:12.1px;color:rgb(88,88,88);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Times,serif;font-size:12.1px;color:rgb(88,88,88);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Times,serif;font-size:12.1px;color:rgb(87,87,87);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Times,serif;font-size:12.1px;color:rgb(87,87,87);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Times,serif;font-size:14.1px;color:rgb(0,111,192);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Times,serif;font-size:14.1px;color:rgb(0,111,192);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:10.5px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:10.5px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Times,serif;font-size:12.1px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Times,serif;font-size:12.1px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Times,serif;font-size:10.5px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Times,serif;font-size:10.5px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Times,serif;font-size:18.1px;color:rgb(249,149,167);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_010{font-family:Times,serif;font-size:18.1px;color:rgb(249,149,167);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:Times,serif;font-size:12.1px;color:rgb(51,51,51);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_011{font-family:Times,serif;font-size:12.1px;color:rgb(51,51,51);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_012{font-family:Times,serif;font-size:13.0px;color:rgb(0,70,4);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_012{font-family:Times,serif;font-size:13.0px;color:rgb(0,70,4);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_013{font-family:Times,serif;font-size:12.1px;color:rgb(11,130,113);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_013{font-family:Times,serif;font-size:12.1px;color:rgb(11,130,113);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_016{font-family:Times,serif;font-size:12.1px;color:rgb(11,130,113);font-weight:bold;font-style:normal;text-decoration: underline}
div.cls_016{font-family:Times,serif;font-size:12.1px;color:rgb(11,130,113);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_014{font-family:Times,serif;font-size:12.1px;color:rgb(11,130,113);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_014{font-family:Times,serif;font-size:12.1px;color:rgb(11,130,113);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_017{font-family:Times,serif;font-size:12.1px;color:rgb(11,130,113);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_017{font-family:Times,serif;font-size:12.1px;color:rgb(11,130,113);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_015{font-family:"Segoe Print Bold",serif;font-size:13.0px;color:rgb(0,70,4);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_015{font-family:"Segoe Print Bold",serif;font-size:13.0px;color:rgb(0,70,4);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="ecf54e62-6f94-11e9-9d71-0cc47a792c0a_id_ecf54e62-6f94-11e9-9d71-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="../assets/images/background1.jpg" width=612 height=792></div>
<div style="position:absolute;left:206.04px;top:70.62px" class="cls_002"><span class="cls_002">PinkTie Report</span></div>
<div style="position:absolute;left:38.04px;top:147.65px" class="cls_003"><span class="cls_003">Patient :</span><span class="cls_004"> Naima Dachraoui</span></div>
<div style="position:absolute;left:38.04px;top:168.29px" class="cls_005"><span class="cls_005">Doctor:</span><span class="cls_004"> Fadhila Dachraoui</span></div>
<div style="position:absolute;left:38.04px;top:189.05px" class="cls_005"><span class="cls_005">Test date :</span><span class="cls_004"> 13/02/1994</span></div>
<div style="position:absolute;left:38.04px;top:230.20px" class="cls_006"><span class="cls_006">Patient Results :</span></div>
<div style="position:absolute;left:38.04px;top:256.24px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:254.57px" class="cls_008"><span class="cls_008">0- incomplete : 30.2%</span></div>
<div style="position:absolute;left:38.04px;top:276.88px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:275.33px" class="cls_008"><span class="cls_008">1-negative : 30.2%</span></div>
<div style="position:absolute;left:38.04px;top:297.64px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:295.97px" class="cls_008"><span class="cls_008">2-benign findings : 30.2%</span></div>
<div style="position:absolute;left:38.04px;top:318.28px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:316.73px" class="cls_009"><span class="cls_009">Left-Benign :</span><span class="cls_008"> 30.2%</span></div>
<div style="position:absolute;left:38.04px;top:339.04px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:337.37px" class="cls_009"><span class="cls_009">Left-Malignant :</span><span class="cls_008"> 30.2%</span></div>
<div style="position:absolute;left:38.04px;top:359.68px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:358.13px" class="cls_009"><span class="cls_009">Right-Benign :</span><span class="cls_008"> 30.2%</span></div>
<div style="position:absolute;left:38.04px;top:380.44px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:378.77px" class="cls_009"><span class="cls_009">Right-Malignant :</span><span class="cls_008"> 30.2%</span></div>
<div style="position:absolute;left:114.36px;top:419.81px" class="cls_010"><span class="cls_010">Pink Tie Mammographic Assessment Categories</span></div>
<div style="position:absolute;left:41.04px;top:458.69px" class="cls_011"><span class="cls_011">The Pink Tie assessment categories are</span><span class="cls_008">:</span></div>
<div style="position:absolute;left:38.04px;top:499.84px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:498.17px" class="cls_008"><span class="cls_008">0- incomplete</span></div>
<div style="position:absolute;left:38.04px;top:520.48px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:518.93px" class="cls_008"><span class="cls_008">1-negative</span></div>
<div style="position:absolute;left:38.04px;top:541.24px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:539.57px" class="cls_008"><span class="cls_008">2-benign findings</span></div>
<div style="position:absolute;left:38.04px;top:580.98px" class="cls_012"><span class="cls_012">Category 0 Assessment is incomplete</span></div>
<div style="position:absolute;left:41.04px;top:610.85px" class="cls_008"><span class="cls_008">Category 0 means the Assessment is</span><span class="cls_011"> not</span><span class="cls_008"> complete and breast cancer specialists may recommend additional</span></div>
<div style="position:absolute;left:38.04px;top:631.61px" class="cls_008"><span class="cls_008">work-up. So, further work-up may include spot compression, magnification, or breast ultrasound.</span></div>
<div style="position:absolute;left:38.04px;top:671.09px" class="cls_011"><span class="cls_011">Category 0</span><span class="cls_008"> means that there is not enough information yet to complete the process. In real-life terms, if a</span></div>
<div style="position:absolute;left:38.04px;top:691.73px" class="cls_008"><span class="cls_008">screening mammogram shows something like a round</span><span class="cls_013"> </span><A HREF="http://www.nlm.nih.gov/medlineplus/ency/article/003230.htm">nodule</A><span class="cls_008"> and the radiologist thinks it might be</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:802px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="../assets/images/background2.jpg" width=612 height=792></div>
<div style="position:absolute;left:38.04px;top:71.21px" class="cls_008"><span class="cls_008">a</span><span class="cls_014"> </span><span class="cls_017">cyst</span><span class="cls_008"> (</span><span class="cls_011">not cancer</span><span class="cls_008">), the radiologist will ask for an ultrasound and assign a PinkTie 0 category to the</span></div>
<div style="position:absolute;left:38.04px;top:91.85px" class="cls_008"><span class="cls_008">mammogram.</span></div>
<div style="position:absolute;left:38.04px;top:131.33px" class="cls_008"><span class="cls_008">When the ultrasound result is available, and, for example, shows a benign cyst, then the ultrasound result</span></div>
<div style="position:absolute;left:38.04px;top:151.97px" class="cls_008"><span class="cls_008">“completes the</span><span class="cls_011"> PINKTIE</span><span class="cls_008">” and assigns a category</span><span class="cls_011"> 2</span><span class="cls_008"> to the case because a cyst is benign.</span></div>
<div style="position:absolute;left:38.04px;top:191.46px" class="cls_012"><span class="cls_012">Category 1. Negative.</span></div>
<div style="position:absolute;left:38.04px;top:221.45px" class="cls_009"><span class="cls_009">With category 1 the breast cancer screening mammogram shows no grouped or suspicious</span><span class="cls_014"> </span><A HREF="https://breast-cancer.ca/micro-overviews/">microcalcifications</A><span class="cls_009">, no</span></div>
<div style="position:absolute;left:38.04px;top:242.09px" class="cls_009"><span class="cls_009">well-formed mass, asymmetrical glandular structure and/or</span><span class="cls_011"> no change</span><span class="cls_009"> from any previous exam.</span></div>
<div style="position:absolute;left:38.04px;top:280.86px" class="cls_012"><span class="cls_012">Category 2, benign</span></div>
<div style="position:absolute;left:38.04px;top:310.85px" class="cls_008"><span class="cls_008">Category 2 is a definitive</span><span class="cls_011"> benign finding</span><span class="cls_008"> and a</span><span class="cls_011"> routine screening</span><span class="cls_008">. That is, there is something abnormal</span></div>
<div style="position:absolute;left:38.04px;top:331.49px" class="cls_008"><span class="cls_008">on mammogram but it is not breast cancer or malignant in any way.</span></div>
<div style="position:absolute;left:38.04px;top:410.45px" class="cls_011"><span class="cls_011">PinkTie category 2 findings often include:</span></div>
<div style="position:absolute;left:45.96px;top:449.81px" class="cls_008"><span class="cls_008">1.</span></div>
<div style="position:absolute;left:74.04px;top:449.81px" class="cls_008"><span class="cls_008">Round opacities with macrocalcifications (typical calcified fibroadenoma or cyst)</span></div>
<div style="position:absolute;left:45.96px;top:470.57px" class="cls_008"><span class="cls_008">2.</span></div>
<div style="position:absolute;left:74.04px;top:470.57px" class="cls_008"><span class="cls_008">Round opacities corresponding to a typical cyst at ultrasonography</span></div>
<div style="position:absolute;left:45.96px;top:491.21px" class="cls_008"><span class="cls_008">3.</span></div>
<div style="position:absolute;left:74.04px;top:491.21px" class="cls_008"><span class="cls_008">Oval opacities with a radiolucent center</span></div>
<div style="position:absolute;left:45.96px;top:511.97px" class="cls_008"><span class="cls_008">4.</span></div>
<div style="position:absolute;left:74.04px;top:511.97px" class="cls_008"><span class="cls_008">Fatty densities or partially fatty images (lipoma, galactocele, oil cyst, hamartoma )</span></div>
<div style="position:absolute;left:45.96px;top:532.61px" class="cls_008"><span class="cls_008">5.</span></div>
<div style="position:absolute;left:74.04px;top:532.61px" class="cls_008"><span class="cls_008">Surgical scar</span></div>
<div style="position:absolute;left:45.96px;top:553.37px" class="cls_008"><span class="cls_008">6.</span></div>
<div style="position:absolute;left:74.04px;top:553.37px" class="cls_008"><span class="cls_008">Scattered macrocalcifications (fibroadenoma, cyst, cytosteatonecrosis, secretory ductal ectasia);</span></div>
<div style="position:absolute;left:45.96px;top:574.01px" class="cls_008"><span class="cls_008">7.</span></div>
<div style="position:absolute;left:74.04px;top:574.01px" class="cls_008"><span class="cls_008">Vascular calcifications</span></div>
<div style="position:absolute;left:45.96px;top:594.77px" class="cls_008"><span class="cls_008">8.</span></div>
<div style="position:absolute;left:74.04px;top:594.77px" class="cls_008"><span class="cls_008">Breast implants, silicone granuloma.</span></div>
<div style="position:absolute;left:38.04px;top:636.18px" class="cls_012"><span class="cls_012">Category 3. Probably Benign</span></div>
<div style="position:absolute;left:38.04px;top:666.05px" class="cls_008"><span class="cls_008">With PinkTie category 3, your radiologist will recommend a</span><span class="cls_011"> follow-up</span><span class="cls_008"> at 6 months.  Sometimes on a breast</span></div>
<div style="position:absolute;left:38.04px;top:686.69px" class="cls_008"><span class="cls_008">cancer screening mammogram there may be a finding of some kind, but</span><span class="cls_011"> no</span><span class="cls_008"> palpable</span><span class="cls_014"> </span><A HREF="https://breast-cancer.ca/4c-papillomas/">lesion</A><span class="cls_008"> is present.</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:1604px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="../assets/images/background3.jpg" width=612 height=792></div>
<div style="position:absolute;left:38.04px;top:71.21px" class="cls_011"><span class="cls_011">Findings typical of this category include:</span></div>
<div style="position:absolute;left:45.96px;top:110.57px" class="cls_008"><span class="cls_008">1.</span></div>
<div style="position:absolute;left:74.04px;top:110.57px" class="cls_008"><span class="cls_008">Clusters of tiny calcifications - round or oval</span></div>
<div style="position:absolute;left:45.96px;top:131.33px" class="cls_008"><span class="cls_008">2.</span></div>
<div style="position:absolute;left:74.04px;top:131.33px" class="cls_008"><span class="cls_008">Non-calcified solid nodules (no size limitation but non palpable on physical examination), round,</span></div>
<div style="position:absolute;left:63.96px;top:151.97px" class="cls_008"><span class="cls_008">ovoid and well-defined.</span></div>
<div style="position:absolute;left:45.96px;top:172.73px" class="cls_008"><span class="cls_008">3.</span></div>
<div style="position:absolute;left:74.04px;top:172.73px" class="cls_008"><span class="cls_008">Selected focal asymmetrical areas of fibroglandular densities (not palpable): This might include</span></div>
<div style="position:absolute;left:63.96px;top:193.37px" class="cls_008"><span class="cls_008">concave-outward defined margins, interspersed with fat and without central increased fibular density on</span></div>
<div style="position:absolute;left:63.96px;top:214.13px" class="cls_008"><span class="cls_008">two projections.</span></div>
<div style="position:absolute;left:45.96px;top:234.77px" class="cls_008"><span class="cls_008">4.</span></div>
<div style="position:absolute;left:74.04px;top:234.77px" class="cls_008"><span class="cls_008">Miscellaneous focal findings, such as a dilated duct or post biopsy architectural distortion without</span></div>
<div style="position:absolute;left:63.96px;top:255.53px" class="cls_008"><span class="cls_008">central density</span></div>
<div style="position:absolute;left:45.96px;top:276.17px" class="cls_008"><span class="cls_008">5.</span></div>
<div style="position:absolute;left:74.04px;top:276.17px" class="cls_008"><span class="cls_008">Generalized distribution in both breasts. For example, multiple similar lesions with tiny calcifications</span></div>
<div style="position:absolute;left:63.96px;top:296.93px" class="cls_008"><span class="cls_008">or nodules distributed randomly</span></div>
<div style="position:absolute;left:38.04px;top:317.57px" class="cls_008"><span class="cls_008">In some scenarios a percutaneous biopsy (usually</span><span class="cls_013"> </span><A HREF="https://breast-cancer.ca/2d-biopsy/">core-needle biopsy</A><span class="cls_008">) might be considered even for PinkTie</span></div>
<div style="position:absolute;left:38.04px;top:338.33px" class="cls_008"><span class="cls_008">category 3. For example, extreme patient</span><span class="cls_011"> anxiety</span><span class="cls_008"> or plans for</span><span class="cls_011"> pregnancy</span><span class="cls_008">, plans for breast augmentation or</span></div>
<div style="position:absolute;left:38.04px;top:358.97px" class="cls_008"><span class="cls_008">reduction surgery, or if synchronous carcinoma is present.</span></div>
<div style="position:absolute;left:38.04px;top:398.46px" class="cls_012"><span class="cls_012">Benign</span></div>
<div style="position:absolute;left:90.00px;top:398.46px" class="cls_012"><span class="cls_012">:</span></div>
<div style="position:absolute;left:79.92px;top:428.33px" class="cls_009"><span class="cls_009">This category mammogram is where concern for breast cancer risk begins to</span><span class="cls_011"> increase</span><span class="cls_009">. Your breast cancer</span></div>
<div style="position:absolute;left:44.04px;top:449.09px" class="cls_009"><span class="cls_009">physician should recommend a biopsy Typically, a</span><span class="cls_014"> </span><A HREF="https://breast-cancer.ca/bcanc-comp/">lump is present</A> <span class="cls_009">, but does</span><span class="cls_011"> not</span><span class="cls_009"> initially appear to have the</span></div>
<div style="position:absolute;left:44.04px;top:469.84px" class="cls_009"><span class="cls_009">morphological characteristics of breast cancer.</span></div>
<div style="position:absolute;left:38.04px;top:487.85px" class="cls_008"><span class="cls_008">Therefore, there are</span><span class="cls_011"> 3</span><span class="cls_008"> sub-categories of Benign result  and these are as follows:</span></div>
<div style="position:absolute;left:42.00px;top:529.00px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:77.04px;top:527.33px" class="cls_011"><span class="cls_011">&lt;25 %</span><span class="cls_008">There is a</span><span class="cls_011"> low</span><span class="cls_008"> suspicion of malignancy.</span></div>
<div style="position:absolute;left:42.00px;top:549.64px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:548.09px" class="cls_008"><span class="cls_008">25% - 50% There is a</span><span class="cls_011"> moderate</span><span class="cls_008"> suspicion of malignancy.</span></div>
<div style="position:absolute;left:42.00px;top:570.40px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:74.04px;top:568.73px" class="cls_011"><span class="cls_011">> 75 %</span><span class="cls_008"> There is a</span><span class="cls_011"> high</span><span class="cls_008"> suspicion of malignancy.</span></div>
<div style="position:absolute;left:38.04px;top:593.70px" class="cls_015"><span class="cls_015">Malignant :</span></div>
<div style="position:absolute;left:41.04px;top:619.85px" class="cls_008"><span class="cls_008">There is a</span><span class="cls_011"> very high</span><span class="cls_008"> probability of breast cancer. So, your medical advisor will request an immediate</span></div>
<div style="position:absolute;left:38.04px;top:640.49px" class="cls_008"><span class="cls_008">biopsy.</span></div>
<div style="position:absolute;left:38.04px;top:679.97px" class="cls_011"><span class="cls_011">Findings typical of category five include:</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:2406px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="../assets/images/background4.jpg" width=612 height=792></div>
<div style="position:absolute;left:45.96px;top:71.21px" class="cls_008"><span class="cls_008">1.</span></div>
<div style="position:absolute;left:74.04px;top:71.21px" class="cls_008"><span class="cls_008">Typically malignant microcalcifications; for example, linear with branching pattern; particularly if</span></div>
<div style="position:absolute;left:63.96px;top:91.85px" class="cls_008"><span class="cls_008">numerous, clustered and with a segmental distribution;</span></div>
<div style="position:absolute;left:45.96px;top:112.49px" class="cls_008"><span class="cls_008">2.</span></div>
<div style="position:absolute;left:74.04px;top:112.49px" class="cls_008"><span class="cls_008">Clusters of microcalcifications with a segmental or galactophorous distribution</span></div>
<div style="position:absolute;left:45.96px;top:133.25px" class="cls_008"><span class="cls_008">3.</span></div>
<div style="position:absolute;left:74.04px;top:133.25px" class="cls_008"><span class="cls_008">Evolving microcalcifications or associated with an architectural distortion or opacity</span></div>
<div style="position:absolute;left:45.96px;top:153.89px" class="cls_008"><span class="cls_008">4.</span></div>
<div style="position:absolute;left:74.04px;top:153.89px" class="cls_008"><span class="cls_008">Clusters of microcalcifications with a segmental or galactophorous distribution</span></div>
<div style="position:absolute;left:45.96px;top:174.65px" class="cls_008"><span class="cls_008">5.</span></div>
<div style="position:absolute;left:74.04px;top:174.65px" class="cls_008"><span class="cls_008">Poorly circumscribed opacities with ill-defined and irregular contours;</span></div>
<div style="position:absolute;left:45.96px;top:195.29px" class="cls_008"><span class="cls_008">6.</span></div>
<div style="position:absolute;left:74.04px;top:195.29px" class="cls_008"><span class="cls_008">Spiculated opacities with radio-opaque center.</span></div>
<div style="position:absolute;left:38.04px;top:236.69px" class="cls_008"><span class="cls_008">High percentage is usually reserved for lesions having a</span><span class="cls_011"> 95%</span><span class="cls_008"> probability of</span><span class="cls_011"> malignancy</span><span class="cls_008">. After biopsy the</span></div>
<div style="position:absolute;left:38.04px;top:257.45px" class="cls_008"><span class="cls_008">average rate of carcinoma in category 5 biopsies is about</span><span class="cls_011"> 75-97%</span><span class="cls_008">.</span></div>
</div>


</body>
</html>
