<app-header></app-header>
<section class="content profile-page">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Heatmap
          <small class="text-muted">PinkTie</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <button class="btn btn-primary btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
          <i class="zmdi zmdi-plus"></i>
        </button>
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> PinkTie</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);">Patient</a></li>
          <li class="breadcrumb-item active">Heatmap </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br>


  <div class="row clearfix">


      <div class="col-lg-2 col-md-6 col-sm-12" >

      </div>

    <div class="col-lg-2 col-md-6 col-sm-12" >
        <div class="card project_widget"  >
            <div class="pw_img">
                <a class="example-image-link" href="{{images[0]}}" data-lightbox="example-set" data-title="Begign Left CC"><img style="padding-left: 25px;padding-top: 10px" width="200px" height="350px" src="{{images[0]}}" alt="About the image"></a>
            </div>
            <div class="pw_content">
              <div class="pw_header" >
                  <h6>{{names[0]}}</h6>
                  </div>
                  </div>


        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12" >
      <div class="card project_widget"  >
          <div class="pw_img">
              <a class="example-image-link" href="{{images[1]}}" data-lightbox="example-set" data-title="Begign Left MLO"><img style="padding-left: 25px;padding-top: 10px" width="200px" height="350px" src="{{images[1]}}" alt="About the image"></a>
            </div>
          <div class="pw_content">
            <div class="pw_header" >
                <h6>{{names[1]}}</h6>
                </div>
                </div>
      </div>
  </div>


  <div class="col-lg-2 col-md-6 col-sm-12" >
    <div class="card project_widget"  >
        <div class="pw_img">
            <a class="example-image-link" href="{{images[2]}}" data-lightbox="example-set" data-title="Begign Right CC"><img style="padding-left: 25px;padding-top: 10px" width="200px" height="350px" src="{{images[2]}}" alt="About the image"></a>
          </div>
        <div class="pw_content">
          <div class="pw_header" >
              <h6>{{names[2]}}</h6>
              </div>
              </div>


    </div>
</div>


<div class="col-lg-2 col-md-6 col-sm-12" >
  <div class="card project_widget"  >
      <div class="pw_img">
          <a class="example-image-link" href="{{images[3]}}" data-lightbox="example-set" data-title="Begign Right MLO"><img style="padding-left: 25px;padding-top: 10px" width="200px" height="350px" src="{{images[3]}}" alt="About the image"></a>
        </div>
      <div class="pw_content">
        <div class="pw_header" >
            <h6>{{names[3]}}</h6>
            </div>
            </div>


  </div>
</div>
<div class="col-lg-2 col-md-6 col-sm-12" >

  </div>
  <div class="col-lg-2 col-md-6 col-sm-12" >

    </div>

<div class="col-lg-2 col-md-6 col-sm-12" >
  <div class="card project_widget"  >
      <div class="pw_img">
          <a class="example-image-link" href="{{images[4]}}" data-lightbox="example-set" data-title="Malignant Left CC"><img style="padding-left: 25px;padding-top: 10px" width="200px" height="350px" src="{{images[4]}}" alt="About the image"></a>
        </div>
      <div class="pw_content">
        <div class="pw_header" >
            <h6>{{names[4]}}</h6>
            </div>
            </div>


  </div>
</div>

<div class="col-lg-2 col-md-6 col-sm-12" >
  <div class="card project_widget"  >
      <div class="pw_img">
          <a class="example-image-link" href="{{images[5]}}" data-lightbox="example-set" data-title="Malignant Left MLO"><img style="padding-left: 25px;padding-top: 10px" width="200px" height="350px" src="{{images[5]}}" alt="About the image"></a>
      </div>
      <div class="pw_content">
        <div class="pw_header" >
            <h6>{{names[5]}}</h6>
            </div>
            </div>


  </div>
</div>


<div class="col-lg-2 col-md-6 col-sm-12" >
  <div class="card project_widget"  >
      <div class="pw_img">
          <a class="example-image-link" href="{{images[6]}}" data-lightbox="example-set" data-title="Malignant Right CC"><img style="padding-left: 25px;padding-top: 10px" width="200px" height="350px" src="{{images[6]}}" alt="About the image"></a>
      </div>
      <div class="pw_content">
        <div class="pw_header" >
            <h6>{{names[6]}}</h6>
            </div>
            </div>


  </div>
</div>


<div class="col-lg-2 col-md-6 col-sm-12" >
  <div class="card project_widget"  >
      <div class="pw_img">
          <a class="example-image-link" href="{{images[7]}}" data-lightbox="example-set" data-title="Malignant Right MLO"><img style="padding-left: 25px;padding-top: 10px" width="200px" height="350px" src="{{images[7]}}" alt="About the image"></a>
      </div>
      <div class="pw_content">
        <div class="pw_header" >
            <h6>{{names[7]}}</h6>
            </div>
            </div>


  </div>
</div>




  </div>

</section>
